* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', sans-serif;
    /* font-family: 'Gill Sans', 'Trebuchet MS', sans-serif; */
}

html,
body {
    height: 100%;
    background-color: #d5ff40;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
}

nav {
    /* background-color: rgb(10, 144, 164); */
    /* height: 50px; */
    padding: 30px 95px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    font-weight: 550;
    font-size: 32px;
}

nav .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    /* font-weight: 100; */
    color: rgb(66, 66, 66);
}

section {
    padding: 60px 80px;
}

section .part-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section .part-1 h1 {
    font-size: 200px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 200px;
}

.part-1 .video {
    height: 105px;
    width: 410px;
    background-color: black;
    border-radius: 50px;
    margin-right: 2rem;
    margin-top: 3rem;
    background-image: url(img2.jpg);
    background-position: left;
    background-size: cover;
}

.video .play {
    height: 82px;
    width: 84px;
    background-color: black;
    border: 4px solid #fff;
    border-radius: 50px;
    margin-left: 1rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i {
    font-size: 60px;
    color: #d5ff40;
}

section .part-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section .part-2 h1 {
    font-size: 200px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 130px;
}

section .part-2 p {
    font-size: 30px;
    margin-left: 12rem;
    margin-top: 3rem;
    line-height: 2.6rem;
    color: rgb(66, 66, 66);
}

.mid {
    /* height: 20%; */
    padding: 8px 96px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.mid .p1 {
    height: 54px;
    width: 300px;
    padding: 8px;
    border: 2.3px solid rgb(66, 66, 66);
    ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.p1 i {
    font-size: 26px;
    color: rgb(66, 66, 66);
}

.p1 p {
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(66, 66, 66);
}

main .image {
    height: 600px;
    width: 85%;
    /* background-color: red; */
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: 7rem;
    margin-right: 7rem;
    margin-left: 7rem;
    background-image: url(img1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.right{
    height: 165px;
    position: absolute;
    width: 165px;
    background-color: black;
    border: 6px solid rgb(66, 66, 66);
    border-radius: 90px;
   margin-left: 75%;
   margin-top: -5%;
   /* margin-top: 30%; */
}
.right i{
    position: absolute;
    padding: 25px;
    font-size: 100px;
    color: #d5ff40;
}
.text{
    background-color: black;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-right: 3rem;
    color: #d5ff40;
}
.text h2{
    margin-left: 3rem;
    font-size: 65px;
    font-weight: 800;
}
.text i{
    font-size: 40px;
    /* margin-left: 3rem; */
    font-weight: 600;
}
.line{
    font-size: 36px;
    color: rgb(66, 66, 66);
}